<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="../../css/common.css">

</head>
<body>
<div class="yadmin-body animated fadeIn">
    <form action="/goods/add" method="post" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label for="name" class="layui-form-label">
                商品名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="name" name="name"
                       lay-verify="required" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="sellPrice" class="layui-form-label">
                售价
            </label>
            <div class="layui-input-block">
                <input type="text" id="sellPrice" name="sellPrice"
                       lay-verify="required" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label for="purPrice" class="layui-form-label">
                进价
            </label>
            <div class="layui-input-block">
                <input type="text" id="purPrice" name="purPrice"
                       lay-verify="required" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="number" class="layui-form-label">
                现存数量
            </label>
            <div class="layui-input-block">
                <input type="text" id="number" name="number"
                       lay-verify="required" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="type" class="layui-form-label">
                类别
            </label>
            <div class="layui-input-block">
                <input type="text" id="type" name="type"
                       lay-verify="required" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left:0;text-align:center;">

                <button class="layui-btn layui-btn-normal" type="submit" >添加</button>
            </div>
        </div>
    </form>
</div>

<script src="../../layui/layui.js"></script>
<script src="../../js/common.js"></script>


</body>
</html>