<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="../../layui/css/layui.css">
    <link rel="stylesheet" href="../../css/common.css">
    
</head>
<body>
    <div class="yadmin-body animated fadeIn">
        <form action="/waiter/insert" method="post" class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <label for="name" class="layui-form-label">
                    角色名称
                </label>
                <div class="layui-input-block">
                    <input type="text" id="name" name="name"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="age" class="layui-form-label">
                    角色描述
                </label>
                <div class="layui-input-block">
                    <input type="text" id="age" name="age"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label for="sex" class="layui-form-label">
                    性别
                </label>
                <div class="layui-input-block">
                    <input type="text" id="sex" name="sex"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="address" class="layui-form-label">
                    地址
                </label>
                <div class="layui-input-block">
                    <input type="text" id="address" name="address"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="phone" class="layui-form-label">
                    电话
                </label>
                <div class="layui-input-block">
                    <input type="text" id="phone" name="phone"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="salary" class="layui-form-label">
                    基本工资
                </label>
                <div class="layui-input-block">
                    <input type="text" id="salary" name="salary"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="password" class="layui-form-label">
                    密码
                </label>
                <div class="layui-input-block">
                    <input type="text" id="password" name="password"
                           lay-verify="required" lay-vertype="tips"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:0;text-align:center;">

                    <button class="layui-btn layui-btn-normal" type="submit" >添加</button>
                </div>
            </div>
        </form>
    </div>

    <script src="../../layui/layui.js"></script>
    <script src="../../js/common.js"></script>
z
<!--    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;

            // 监听提交
            form.on('submit(add)', function (form) {

                layer.msg("添加成功", {icon: 6});
                return false;
            });

        });
    </script>-->
</body>
</html>