<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzti.mapper.GoodsMapper">
    <!--留着以后用  -->

    <select id="selectList" parameterType="java.util.HashMap" resultType="com.zzti.pojo.Goods">

        SELECT * FROM goods
        <where>
            <if test="goodsName != null">
                name LIKE concat('%',#{goodsName},'%')
            </if>
        </where>
        <if test="page != null and limit !=null ">
            LIMIT #{page},#{limit}
        </if>

    </select>

    <update id="update" parameterType="java.lang.Integer">
        update goods
        <set >
            <if test="name != null">
                name = #{name},
            </if>
            <if test="sellPrice != null">
                sell_price = #{sellPrice},
            </if>
            <if test="purPrice != null">
                pur_price = #{purPrice},
            </if>
            <if test="number != null">
                number = #{number},
            </if>
            <if test="totalPurchase != null">
                total_purchase = total_purchase + #{totalPurchase},
                number = number + #{totalPurchase},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
        </set>
        where id = #{id}

    </update>
</mapper>