<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzti.mapper.WaiterMapper">
    <!--留着以后用  -->


    <select id="queryByAcc" resultType="com.zzti.pojo.Waiter">
      SELECT *
      FROM waiter
      WHERE  account = #{loginUsername}
      AND PASSWORD = #{loginPassword}
    </select>
    <select id="queryManager" resultType="com.zzti.pojo.Waiter">
      SELECT *
      FROM manager
      WHERE  account = #{loginUsername}
      AND PASSWORD = #{loginPassword}
    </select>
    <select id="selectList" parameterType="java.util.HashMap" resultType="com.zzti.pojo.Waiter">

        SELECT * FROM waiter
        <where>
            <if test="roleName != null">
                name LIKE concat('%',#{roleName},'%')
            </if>
        </where>
        <if test="page != null and limit !=null ">
            LIMIT #{page},#{limit}
        </if>

    </select>


</mapper>